[submodule "drift-detection"]
	path = drift-detection
	url = https://github.com/arewm/drift-detection
[submodule "integreatly-operator"]
	path = integreatly-operator
	url = https://github.com/integr8ly/integreatly-operator
	branch = master